/*Фоновое изображение элемента body*/
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("stol.jpg");
  background-size: cover;
  background-repeat: round;
}
/*Дизайн  панели выбора столовых*/
.stols{
  overflow: hidden;
  border: 1px solid #185BD8;
  background-color: #185BD8;
}
/*Дизайн кнопок выбора столовой, когда они не Активны*/
.stols button {
  width: 33.3%;
    background-color:inherit;
    float:left;
    border-style: inset;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/*Дизайн, когда на кнопку наводят*/
.stols button:hover {
    background-color: #0E347C;
}
/*Дизайн, когда пользователь нажал/активировал кнопку*/
.stols button.active {
    background-color: #0E347C;
}
/*отвечает за размеры меню и дизайн столовой*/
.buttonStolContent {
    width: 70vw;
    height: 85vh;
    position: fixed;
    bottom: 3vh;
    left: 4vw;
    background-color:  #185BD8;
    display: none;
    border-style: none;
}
/*Дизайн меню столовой*/
.menu{
  width: inherit;
  height: inherit;
  overflow: hidden;
}
/*Цвет кнопокв меню*/
.menu button {

  background-color: inherit;
  float: left;
  border:inset ;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/*Цвет когда на кнопку наводят*/
.menu button:hover {
    background-color: #0E347C;
}
/*Цвет когда кнопка активна*/
.menu button.active {
    background-color: #0E347C;
}
/*Блок с кнопками*/
.selector{
  height: 7vh;
  width: inherit;
}
/*Длина кнопок*/
.buttonEdaDrinkLink{
  width: 50%;
}
/*То что внутри кнопок (Еда или Напитки)*/
.buttonEdaDrinkContent{
  width: inherit;
  height: inherit;
  display: none;
  border-style: none;
}
/*Корзина*/
.basket{
    width: 15vw;
    height: 30vh;
    position: fixed;
    left: 78vw;
    top: 10.9vh;
    background-color: #6395F2;
    font-family: sans-serif;
    font-size: 3.5vh;
    text-align: center;
}
